Flask
Flask-CORS
Werkzeug
torch
torchvision
Pillow
numpy
opencv-python
matplotlib
reportlab
shap
pytorch-grad-cam
timm
typing-extensions
scikit-image
google-generativeai
gdown
Flask
flask-cors
Werkzeug
torch
torchvision
Pillow
numpy
opencv-python
matplotlib
reportlab
shap
timm
scikit-learn